<!DOCTYPE html >
{% spaceless %}
<html>
<head>
    <script>{% include 'js/node_modules/fontfaceobserver/fontfaceobserver.standalone.js' %}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/16px-favicon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/32px-favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/96px-favicon.png" sizes="96x96">
    <meta property="og:title" content="Critical CSS - A small PHP library" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://critical-css.jandc.io/" />
    <meta property="og:image" content="https://critical-css.jandc.io/images/og-image.jpg" />
    <title>Critical CSS - A small PHP library</title>
    {% block head %}{% endblock head %}
</head>
<body class="u-flex-set">
{% block content %}{% endblock %}
{% block js %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/node_modules/animateplus/animate.js?t={{ 'now'|date('U') }}"></script>
    <script src="/js/modules/parallax.js?t={{ 'now'|date('U') }}"></script>
    <script async defer src="/js/prismjs/prism.js?t={{ 'now'|date('U') }}"></script>
    <script async defer src="/js/modules/getTransforms.js?t={{ 'now'|date('U') }}"></script>
    <script async defer src="/js/modules/logo-animation.js?t={{ 'now'|date('U') }}"></script>
    <script async defer src="/js/modules/menu-animation.js?t={{ 'now'|date('U') }}"></script>
    <script async defer src="/js/modules/global-animations.js?t={{ 'now'|date('U') }}"></script>
    <script>
        const font = new FontFaceObserver('Open Sans');

        font.load().then(function () {
            document.querySelector('html').classList.add('font-has-loaded');
        });
    </script>
    {% include 'includes/analytics.twig' %}
{% endblock js %}
</body>
</html>
{% endspaceless %}